@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


.link-button{
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(orange,tomato);
    padding:10px 30px;
    color:white;
    border-radius:100px;
    font-weight: 600;
    padding: 24px 32px;

}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.text-top{
    margin-top: 170px;
    margin-left: 100px;
}

.half-width h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 78px;
    color: #575757;
    margin-bottom: -13px;
}
.half-width p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #828282;
    margin-bottom: 49px;

}
.recipie{
    text-align:center;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}
.hasan{
    border-image-width: 50%;
    width:80%
}


.point{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;
}
.experience-aria{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: absolute;
    width: 1440px;
    height: 636px;
    top: 900px;
    left: 0px;
    
}
.half-width img{
    width: 525px;

}
.half-width img-female{
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 902px;
}
.image-top {
    margin-top: 55px;
}
.especial{
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
}

.rgb-color{
    color:orange;
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
    gap:1.5%;
}
.experience-item{

    box-shadow: 10px 10px 40px gray;
    width:50%;
    border-radius: 10px;
}
.social{
    padding: 50px 40px;
    border: 5px black;
    box-shadow: 10px 10px 40px grey;
    margin: 0px 10px;
    margin-left: 182px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    
}
.social-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.social-area{
    box-shadow: 10px 10px 40px grey;
    padding: 50px ;
    margin: 50px 100px;

}


